@model AvondaleCollegeClinic.Models.Homeroom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Homeroom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.YearLevel)</dt>
        <dd class="col-sm-10">@((int)Model.YearLevel)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Block)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(_ => Model.Block)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.ClassNumber)</dt>
        <dd class="col-sm-10">@((int)Model.ClassNumber)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Teacher)</dt>
        <dd class="col-sm-10">@((Model.Teacher != null) ? Model.Teacher.FirstName + " " + Model.Teacher.LastName : Model.TeacherID)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HomeroomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
